.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Include an extra column for the day names */
    grid-auto-rows: 50px; /* Adjust height as needed */
    grid-gap: 1px; /* Adjust gap between grid items */
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #900;
  }
  
  .day-of-week {
    font-weight: bold;
  }
  
  .grid-row:nth-child(even) .grid-item {
    background-color: green;
  }
  